*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
   width:50%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items:center;
   
}
.logo img{
    width:33%;
    border: 2px solid white;
    border-radius: 100px;
    align-items: center;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.nav-list{
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 25px;
    justify-content: center;
}
.nav-list li {
list-style: none;
padding: 29px 36px;
color: white;
}

.nav-list li a{
text-decoration: none;
color: white;
}
.nav-list li a:hover{
color: grey;
}

#search{
padding-top: 30px;
padding: 10px;
font-size: 25px;
border: 2px solid grey;
border-radius: 9px;
}
.background{
    background-size: cover;
    align-items: center;
    background-color: darkslategrey;
}
.rightNav{
    width: 100%;
    display: flex;
    border-color: black;
    align-items: right;
    justify-content: center;
}
.btn{
    border-radius: 5px;
    border: 2px solid grey;
    padding: 8px 20px;
    margin: 7px 3px;
    cursor: pointer;
}
.ig img{
    text-align: top;
    font-size: 35px;
    padding: auto;
    background-repeat: no-repeat;
    position: left;
    width: 100vw;
    height: 100vh;
    
}
.text{
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    border-radius: 9px;
    color: white;
    align-items: left;
    justify-content: left;
    text-align: left;
}
.about{
    margin-top: 10%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
}
.text-l{
    font-size: 20px;
    color: black;
    text-align: left;
   
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
.contact{
    background-color: beige;
    height:800px;
}
.text-center{
    text-align: center;
    padding: 30px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}
.form-input{
    margin: 10px 0;
    padding: 5px 3px;
    background-color: white;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-dark{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:22px ;
    border:2px solid grey;
}
.text-footer{
    text-align: center;
    padding:30px 0 ;
    display: flex;
    justify-content: center;
}
.box-main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}

@media only screen and (max-width:1140px) {
    .nav-list{
        flex-direction: column;
        height: 472px;
    }
    .navbar{
        height: 472px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .burger{
    display: block;
    }
    .h-nav-respo{
        height: 442px;
    }
    .v-class-respo{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text{
        max-width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 50px;
        margin-top: 20px;
    }
}


   
